project/maps/
project/routes/
project/features
*.osm.pbf
*.pbf
*.toc
*.synctex.gz
*.out
*.log
*.fls
*.fdb_latexmk
*.aux
*.sty
*.bst
*.bbl
*.blg
project/__pycache__/
project/tsps_*/

.devenv.flake.nix
.envrc
.devenv/
.direnv
.pre-commit-config.yaml
